/* link of fonts  */
body {
  font-family: "Lobster", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Signika Negative", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
header > h1 {
  margin-left: 70px;
  margin-top: 50px;
}
.journey {
  display: flex;
  margin-left: 70px;
  align-items: center;
}
.journey-title > h1 {
  font-size: 4em;
}
.journey-title button {
  color: white;
  background-color: #e83a59;
  height: 55px;
  width: 200px;
  font-weight: 1200;
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}
button:hover {
  transform: scale(1.5);
  margin-left: 30px;
}

.journey-image {
  margin-left: 100px;
}

/* products part division */
.individual-product {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 300px;
}
.div-2 > h1 {
  font-size: 3em;
  margin-left: 520px;
  margin-top: 100px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-left: 70px;
}
.product-description > h1 {
  font-size: 2em;
}
.product-description > p {
  font-size: 20px;
}
.product-description {
  padding-left: 7px;
}
/* Extra division */
.see-more {
  color: #e83a59;
  font-size: 2em;
  margin-left: 1110px;
  margin-top: 70px;
}

/* Newsletter */
.subscription {
  font-size: 2em;
}
.subscription-title > h1 {
  color: #e83a59;
  margin-left: 520px;
  margin-top: 100px;
}
.subscription-title > p {
  margin-left: 200px;
}
.subscription-input {
  margin-left: 530px;
}
.subscription-input input {
  margin-left: 25px;
}
.subscription-input button {
  margin-left: 19px;
  color: white;
  background-color: #e83a59;
  height: 55px;
  width: 200px;
  font-weight: 1200;
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}
/* Footer styles */
.footer-description {
  background-color: #03203c;

  font-size: 2em;
}
.footer-title {
  padding-top: 5px;
  margin-left: 520px;
  color: white;
}
.footer-social {
  margin-left: 470px;
  color: white;
}
.rights {
  margin-left: 100px;
}
.icons {
  margin-left: 115px;
}

/*------------------
 Media Quires
 -------------------*/

/* Mobile Devices */
@media only screen and (max-width: 576px) {
  .journey {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .journey-title > h1 {
    font-size: 100%;
  }
  .journey-title > p {
    font-size: 100%;
  }
  .journey-image > img {
    width: 50%;
    margin-top: 10px;
  }
  .div-2 > h1 {
    margin-left: 70px;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    justify-content: center;
  }

  .section-4 {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-4 > .see-more {
    margin-left: 230px;
  }
  .subscription-title > h1 {
    margin-left: 70px;
  }
  .subscription-title > p {
    font-size: 1em;
    margin-left: 70px;
  }
  .subscription-input {
    margin-left: 70px;
  }
  .subscription-input input {
    margin-left: 0px;
  }
  .subscription-input > h1 {
    margin-left: 0px;
  }
  .footer-title {
    width: 70%;
    margin-left: 70px;
  }
  .footer-social {
    width: 70%;
    margin-left: 70px;
  }
  .footer-social > .rights,
  .icons {
    margin-left: 10px;
  }
  body {
    width: 100%;
    margin: 0;
  }
}

/*--------------------------
 media query for tab 
 ----------------------------*/

@media screen and (max-width: 768px) and (min-width: 577px) {
  .journey {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .journey-title > h1 {
    font-size: 100%;
  }
  .journey-title > p {
    font-size: 100%;
  }
  .journey-image > img {
    width: 50%;
    margin-top: 10px;
  }
  .div-2 > h1 {
    margin-left: 70px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    justify-content: center;
  }

  .section-4 {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-4 > .see-more {
    margin-left: 500px;
  }
  .subscription-title > h1 {
    margin-left: 70px;
  }
  .subscription-title > p {
    font-size: 1em;
    margin-left: 70px;
  }
  .subscription-input {
    margin-left: 70px;
  }
  .subscription-input input {
    margin-left: 0px;
  }
  .subscription-input > h1 {
    margin-left: 0px;
  }
  .footer-title {
    width: 70%;
    margin-left: 70px;
  }
  .footer-social {
    width: 70%;
    margin-left: 70px;
  }
  .footer-social > .rights,
  .icons {
    margin-left: 10px;
  }
  body {
    width: 100%;
    margin: 0;
  }
}
